# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [2]:
import pandas as pd
import numpy as np

In [41]:
country = ['TW', 'JP', 'US', 'UK', 'CN']
population = np.random.randint(1, 1000,size=5) * 1000000

data = {'國家': country,
        '人口': population}
df = pd.DataFrame(data)

In [42]:
df

   國家         人口
0  TW  187000000
1  JP   35000000
2  US  260000000
3  UK  222000000
4  CN  973000000

In [43]:
df[df['人口'] == df['人口'].max()]

   國家         人口
4  CN  973000000

In [44]:
df.loc[df['人口'] == df['人口'].max(), '國家']

4    CN
Name: 國家, dtype: object